<h2>Create A Reimbursement</h2>
<form action="create.do" method="POST">
	<div class="form-group">
    	<label for="eventDate">Event Date</label>
    	<input type="date" class="form-control" id="eventDate">
  	</div>
  	<div class ="form-group">
  		<!-- Event Types -->
    	<label class="radio-inline">University Course</label>
    	<input type="radio" name="course">
		<label class="radio-inline">Seminar</label>
		<input type="radio" name="seminar">
		<label class="radio-inline">Certification Prep Class</label>
		<input type="radio" name="certPrep">
		<label class="radio-inline">Certification</label>
		<input type="radio" name="cert">
		<label class="radio-inline">Technical Training</label>
		<input type="radio" name="tech">
		<label class="radio-inline">Other</label>
		<input type="radio" name="other">
  	</div>
  	<div class ="form-group">
  		<!-- Grade Types -->
    	<label class="radio-inline">Percentage</label>
    	<input type="radio" name="percent">
		<label class="radio-inline">Letter</label>
		<input type="radio" name="letter">
		<label class="radio-inline">Pass/Fail</label>
		<input type="radio" name="passFail">
		<label class="radio-inline"><b>Other</b></label>
		<input type="radio" name="otherGrade">
  	</div>  	
  	<div class="form-group">
  		<label for="comment">Comment:</label>
  		<textarea class="form-control" rows="5" id="comment"></textarea>
	</div>
  	<button type="submit" class="btn btn-default">Submit</button>
</form>