<html>
	<head>
		<link rel="stylesheet" 
	    	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
	        crossorigin="anonymous">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	    <script src = "resources/js/reimTable.js" ></script>
	    <title>Tuition reimbursement system</title>
		</head>
	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Swanson's Software</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="reimbursements.html">View Reimbursements</a></li>
		      <li><a href="createReim.html">Create Reimbursement</a></li>
		    </ul>
		    <button class="btn btn-danger navbar-btn">Logout</button>
		  </div>
		</nav>
		<h2>Reimbursements</h2>
		<table class="table" id="myReimTable">
			    <thead>
			      <tr>
			        <th>Requester</th>
			        <th>Status</th>
			        <th>Description</th>
			        <th>Reimbursement Amount</th>
			        <th></th>
			        <th></th>
			      </tr>
			    </thead>
			    <tbody>
			   	<!-- How to dynamically add this data? -->
			    </tbody>
		</table>
	</body>
</html>

<!--  
<div class="container">
  <h2>Contextual Classes</h2>
  <table class="table" id="myReimTable">
    <thead>
      <tr>
        <th>Requester</th>
        <th>Status</th>
        <th>Description</th>
        <th>Reimbursement Amount</th>
        <th>Date Created</th>
      </tr>
    </thead>
     <tbody>
      <tr>
        <td>Default</td>
        <td>Defaultson</td>
        <td>def@somemail.com</td>
      </tr> 
    
     <!--  To highlight a row
      <tr class="danger">
        <td>Danger</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      -->
 <!--      
  </table>
</div>
-->